*{
    margin:0px;
    padding: 0px;
    font-family: Arial;
    text-decoration: none;
}
.nav{
    padding: 10px 10px 0px 10px;
    position: relative;
    height: auto;
   background-color: #2e3192;
    width:100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform .2s ease-in-out;
    z-index: 8;
    position: fixed;
}
.nav>div{
    align-items: center;
    width: 35%;
    text-decoration: none;
}
.nav>div>a{
    text-decoration: none;
    color: white;
   padding: 20px;
}
.nav>img{
    width:4%;
    padding-left: 20px;
    align-self: center;
}
.searchbar{
        text-align: center;
        background-color: #ccc;
        background-image: url(https://hm.imimg.com/imhome_gifs/bg-img.jpg);
        height: 330px;
        background-size: cover;
        background-position: 100% 32%;
        overflow: hidden;
        font-family: arial;
        color: white;
}
.searchbar>div{
    padding-top: 80px;
        width: 100%;
        position: relative;
}
.searchbar>div>div{
    padding: 0px;
    display: flex;
    margin: auto;
    width:60%;
}
.searchbar>div>div>input{
    font-family: Arial;
    font-size: 20px;
    width:60%;
    height:48px;
    border:1px solid white;
    padding-left: 10px;
}
.searchbar button{
    font-family: Arial;
    font-size: 20px;
    width:179px;
    height:50px;
    border:1px solid rgb(206, 202, 202);
   
}
.blue{
    display: flex;
    background-color:#04847a;
    align-items: center;
    justify-content:center;
    color: white;
}
.blue>img{
    margin-right: 10px;
    width:20px;
}
.searchbar h3{
    font-size: 40px;
    padding: 10px;
}
.menu{
    border:1px solid rgb(223, 220, 220);
    padding:10px 60px 0px 60px;
    display: flex;
    width:90%;
    text-align: center;
    margin:auto;
    gap:80px 
}
#touch{
    border: none;
    background-color: white;
    font-size: 15px;
}
#touch1{
    border: none;
    background-color: white;
    font-size: 15px;
}
#touch2{
    border: none;
    background-color: white;
    font-size: 15px;
}
#touch3{
    border: none;
    background-color: white;
    font-size: 15px;
}
#touch4{
    border: none;
    background-color: white;
    font-size: 15px;
}
#touch5{
    border: none;
    background-color: white;
    font-size: 15px;
}
.menu img{
    width:50px;
    padding-bottom: 10px;
}
.view{
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 17px;
    border:none;
    width:150px;
    background-color: white;
}
.flex{
    display: flex;
}
#container{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    width:90%;
    margin: auto;
}
#container>div{
    width:20;
}
#container>div>img{
    width:100%;
}
.ft{
    display: flex;
    margin: auto;
    margin-top: 10px;
    width:70%;
    justify-content: space-between;
}
.ft img{
    background-color: #eeeeee;
    width:30px;
    padding-right: 10px;
}
.logo{
    width:60%;
    display: flex;
    justify-content: end;
}
.logo>div{
    padding-right: 20px;
}
.box>button{
    display:block;
    margin: auto;
    width:90px;
    height:30px;
}
.mid{
    border:1px solid rgb(241, 237, 237);
    margin:auto;
    width:90%;
  padding: 20px 40px 20px 40px;
}
.mid>img{
    width:100%;
}
.mid_cont{
    font-size:25px;
    padding-top: 40px;
}
.mid_img img{
    padding-left: 20px;
    padding-top: 20px;
    width:20px;
}
.mid h1{
    margin-top: 10px;
    margin-bottom: 10px;
}
.mid_img p{
    padding-right: 40px;
}
.grid{
    padding:20px 20px 20px 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:20px;
    width:98%;
    text-decoration: none;
    font-size: 15px;
    margin:auto;
}
.grid>div:nth-child(1){
  grid-column-start: 1;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 4;
}
.grid>div:nth-child(1)>img{
  width:100%;
  height:100%;
  }
.product{
    width:96%;
    margin:auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.product_el{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-decoration: none;
    color:black;
}
.product_el>img{
   width: 50%;
}
.product_el h3{
    margin-bottom: 10px;
    margin-top: 15px;
}
hr{
    border:1px solid rgb(45, 22, 196);
    margin-top: 30px;
}
.h1{
    padding-left: 20px;
    font-size: 30px;
    color: black;
    text-decoration: none;
    margin-top: 10px;
}
.grid2{
    padding:20px 20px 20px 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:20px;
    width:98%;
    text-decoration: none;
    font-size: 15px;
    margin:auto;
}
.grid2>div:nth-child(1){
    grid-column-start: 1;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .grid2>div:nth-child(1)>img{
    width:100%;
    }
#dropdown {
    color: black;
     width:90%;
     margin:auto;
     display: flex;
     justify-content: space-between;
     padding:10px 10px 10px 10px;
     display:none;
    }
#dropdown p{
        margin-top: 10px;
    }